* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Colors V2*/

.green {
    background: #21C468;
}

.green-lighten {
    background: #52CE88;
}

.white {
    background: #F9F9F9;
}

.black {
    background: #272D2A;
}

.black-lighten {
    background: #334139;
}

.text-green {
    color: #21C468;
}

.text-green-lighten {
    color: #52CE88;
}

.text-white {
    color: #F9F9F9;
}

.text-black {
    color: #272D2A;
}

.text-black-lighten {
    color: #334139;
}

/* Displayers */

.flex {
    display: flex;
}

.block {
    display: block;
}

.inline {
    display: inline-block;
}

.grid {
    display: grid;
}

/* Position */

.flex-left {
    justify-content: flex-start;
}

.flex-right {
    justify-content: flex-end;
}

.flex-up {
    align-items: flex-start;
}

.flex-down {
    align-items: flex-end;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-center-x {
    justify-content: center;
}

.flex-center-y {
    align-items: center;
}

.text-center {
    text-align: center;
}

/* Others */

.margin {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Code Website */

/* Navegation */

.nav-bar {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 60;
    box-shadow: 0px 2px 12px rgba(39, 45, 42, 0.4);
}

.container-menu {
    justify-content: space-between;
}

.container-logo {
    flex-direction: row;
    align-items: center;
}

.logo-img {
    height: 2em;
}

.title-website {
    font-family: 'Oswald', sans-serif !important;
    cursor: pointer;
    padding-left: 0.5em;
}

.title-website span {
    font-family: inherit;
}

.items-navegation {
    /*    border-bottom: 2px solid transparent;*/
    margin-left: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
    /*    padding-bottom: 6px;*/
    transition: .4s;
    opacity: 0.8;
    font-size: 0.9em;
}

.items-navegation:hover {
    opacity: 1;
    /*    border-color: #40C5E6;*/
}

.menu-dropdown {
    height: 16px;
}

.menu-dropdown:hover > .items-drobdown  {
    display: flex;
}

.items-drobdown {
    padding: 1em 1em;
    display: none;
    flex-direction: column;
    background: white;
    transition: 1s;
}

.items-drobdown > a {
    color: black;
    margin: 0.2em 0;
}

/* Header */

.header {
    background: linear-gradient(180deg, rgba(11, 36, 43, 0.6), rgba(11, 36, 43, 0)), url('../img/capturing-the-human-heart.jpg');
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}

.container-slide {
    height: 90vh;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    background: transparent;
    flex-direction: column;
    /* Centra el slider verticalmente */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.title-slider {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.description-slider {
    font-size: 1.2em;
    width: 80%;
    line-height: 30px;
    padding-top: 1em;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.swiper-right {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    z-index: 40;
}

.swiper-left {
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    z-index: 40;
}

.swiper-pagination-bullet {
    background: #21C468;
}

/* About Us */

.about-us {
    background-color: #f2f2f2;
    padding-bottom: 6em;
    padding-top: 6em;
    width: 100%;
}

.wrapper-about {
    flex-direction: row;
}

.container-about {
    flex: 1;
}

.picture-about {
    flex: 1;
    padding-left: 2em;
    padding-right: 1em;
}

.title-h3 {
    font-size: 2.5em;
}

.flow-text {
    padding-left: 2em;
    font-size: 1em;
    padding-top: 1.4em;
    line-height: 1.8em;
    opacity: 0.8;
    text-align: justify;
}

.photo-about {
    width: 90%;
    float: right;
}

.button-about {
    display: inline-block;
    margin-top: 2em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin-left: 2em;
    padding: 1em 2em;
    border: 2px solid #21C468;
    transition: .4s;
}

.button-about:hover {
    background: #21C468;
    color: #f2f2f2;
}

.wrapper-service {
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
}

/* Services */

.container-service {
    flex: 1;
}

.wrapper-figure {
    justify-content: space-between;
}

.wrapper-graph {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    border-radius: 50px;
    transition: 1s;
    transform: rotateY(0deg);
}
.wrapper-graph:hover{
    transition: .7s;
    transform: rotateY(180deg);
}

.icon-graph {
    font-size: 2em;
}

.numbre-graph {
    font-size: 2.8em;
    margin-top: 0.6em;
}

.description-graph {
    padding-top: 1em;
    line-height: 1.6em;
    padding-left: 2em;
    padding-right: 2em;
    opacity: 0.8;
    font-size: 1.5em;
}

.wrapper-title-service {
    border-top: 1px solid #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    font-size: 2em;
    padding: 1em 4em;
}

/*Gallery*/

.gallery {
    width: 100%;
    height: 600px;
    grid-template-areas: "p-one p-one p-two p-three" "p-four p-five p-six p-seven";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.photo-gallery {
    background-size: cover;
    background-position: center;
    flex-flow: column nowrap;
    overflow: hidden;
}

.newcolor {
    background: #d4cdcd;
}

.photo-gallery:nth-child(1) {
    grid-area: p-one;
    background-image: url("../img/gallery/01.jpg");
    cursor: pointer;
}

.photo-gallery:nth-child(2) {
    grid-area: p-two;
}

.photo-gallery:nth-child(3) {
    grid-area: p-three;
    background-image: url("../img/gallery/02.jpg");
    cursor: pointer;
}

.photo-gallery:nth-child(4) {
    grid-area: p-four;
}

.photo-gallery:nth-child(5) {
    grid-area: p-five;
    background-image: url("../img/gallery/03.jpg");
    cursor: pointer;
}

.photo-gallery:nth-child(6) {
    grid-area: p-six;
    background-image: url("../img/gallery/04.jpg");
    cursor: pointer;
}

.photo-gallery:nth-child(7) {
    grid-area: p-seven;
}

/* Text Gallery*/

.title-gallery {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-weight: 700;
}

.description-gallery {
    opacity: 0.8;
    margin-top: 1em;
    padding: 0 2em;
}

/* Filter Gallery*/

.filter-photo {
    margin-top: 140%;
    width: 100%;
    height: 100%;
    background: rgba(33, 196, 104, 0.8);
    font-size: 3em;
    transform: skewY(30deg);
    transition: .6s;
}

.photo-gallery:hover .filter-photo {
    margin-top: 0px;
    transform: skewY(0deg);
}

/* Sentence */

.sentence-one {
    background: linear-gradient(0deg, rgba(61, 61, 61, 0.6), rgba(61, 61, 61, 0.6)), url('../img/andres-urena.jpg');
}

.sentence {
    padding: 9em 0;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
}

.text-sentence {
    font-size: 2em;
    font-weight: 500;
    font-style: oblique;
    line-height: 1.5em;
}

/* Our Sponsors */

.our-sponsors {
    width: 100%;
    padding: 4em;
    padding-bottom: 4em;
}

.title-our-sponsors {
    font-size: 2em;
    opacity: 0.8;
    padding-bottom: 1.2em;
}

.partners-logotypes {
    margin-top: 2em;
    width: 100%;
    height: 400px;
    grid-gap: 60px 10px;
    grid-template-columns: repeat(3, 1fr)
}

.wrapper-logotypes {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper-logotypes:nth-child(1) {
    background-image: url('../img/itsm-logo.jpg');
}

.wrapper-logotypes:nth-child(2) {
    background-image: url('../img/conacyt-logo.jpg');
}

.wrapper-logotypes:nth-child(3) {
    background-image: url('../img/coveicydet-logo.png');
}

.wrapper-logotypes:nth-child(4) {
    background-image: url('../img/minds-logo.png');
}

/* .wrapper-logotypes:nth-child(5) {
    
} */

.wrapper-logotypes:nth-child(6) {
    background-image: url('../img/misantla-fuertegrande-logo.jpg');
}

/* Footer */

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 2em;
}

.footer-logo {
    line-height: 4em;
    font-size: 1.2em;
    padding-top: 1em;
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: space-between;
}

.footer-title {
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #21C468;
}

.footer-title-h2 {
    padding-left: .8em;
}

.footer-logo-img {
    height: 2em;
}

.footer-social-media {
    font-size: 1.1em;
    display: flex;
    flex-flow: row wrap;
}

.facebook span {
    cursor: pointer;
    font-size: 1.2em;
}

.whatsapp span {
    cursor: pointer;
    font-size: 1.2em;
}

.instagram span {
    cursor: pointer;
    font-size: 1.2em;
}

.twitter span {
    cursor: pointer;
    font-size: 1.2em;
}

.facebook span a {
    letter-spacing: 1.5px;
    font-size: .8em;
    padding-left: .5em;
    padding-right: 5em;
}

.whatsapp span a {
    letter-spacing: 1.5px;
    font-size: .8em;
    padding-left: .5em;
    padding-right: 1em;
}

.instagram span a {
    letter-spacing: 1.5px;
    font-size: .8em;
    padding-left: .5em;
    padding-right: 5em;
}

.twitter span a {
    letter-spacing: 1.5px;
    font-size: .8em;
    padding-left: .5em;
    padding-right: 1em;
}

.footer-links-and-copyrights {
    width: 60%;
    /* background: rgb(173, 88, 88); */
}

.footer-links {
    line-height: 4em;
    font-weight: bold;
    border-bottom: 2px solid #21C468;
    font-size: 1.2em;
    padding-top: 1em;
}

.footer-aboutus {
    padding-top: 1.5em;
    line-height: 1.8em;
}

.footer-text-aboutus {
    text-align: justify;
}

.copyright {
    text-align: left;
    letter-spacing: .3em;
}

/* Overview */

.cover-website {
    background-image: url(../img/gallery/01.jpg);
    /* background-image: url(../img/overview-background.jpg); */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.title-section-page {
    margin-top: 200px;
    color: red;
    font-size: 4em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.overview-container {
    padding-top: 4em;
    padding-bottom: 6em;
}

.title-overview {
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    padding-top: 1.3em;
}

.text-overview {
    text-align: justify;
    margin-top: 2em;
    line-height: 1.8em;
}

.btn-back{
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin-left: 2em;
    padding: 1em 2em;
    border: 2px solid #21C468;
    color: #21C468;
    transition: .4s;
    position: relative;
    left: 48%;
    top: 1.7em;
    transform: translate(-50%);
    margin-top: 2em;
}
.btn-back:hover {
    background: #21C468;
    color: #f2f2f2;
}
.tittle-team{
    padding-bottom: 1.3em;
}
.team-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.team-person{
    background: #52CE88;
    width: 30%;
    padding-top: 1.3em;
    border-radius: 5px;
    transform: scale(1);
    transition: .2s;
}
.team-person:hover{
    transform: scale(1.1);
}
.team-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.9);
}
.team-name{
    color: #f2f2f2;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
}
.team-description{
    line-height: 1.4em;
    color: #f2f2f2;
    padding-bottom: 2.6em;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

/* Our model */

.ourmodel-background{
    background-image: url(../img/elementary-school-background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.body-page-model{
    background-image: url(../img/background.png);
}

/* Responsive */

@media only screen and (max-width:1024px) {
    .nav-bar {
        padding-bottom: 1em;
    }
    .container-menu {
        flex-direction: column;
    }
    .container-logo {
        text-align: center;
    }
    .container-items {
        justify-content: center;
    }
}
